<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.2">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>true</useBuildBlocker>
      <blockingJobs>sid-analysis-.*</blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.LabelAxis>
      <name>label</name>
      <values>
        <string>mt-farm01</string>
        <string>mt-farm02</string>
        <string>mt-farm03</string>
        <string>mt-farm04</string>
        <string>mt-farm05</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

set -e

mv JOB-prepare-binaries-master/workspace/debian-builds-{cbmc,goto-cc,goto-instrument} .
mv JOB-prepare-binaries-master/workspace/static-cycles-goto-instrument .

if [ ! -f z3 ] ; then
  wget &apos;http://download-codeplex.sec.s-msft.com/Download/Release?ProjectName=z3&amp;DownloadId=868844&amp;FileTime=130482359193930000&amp;Build=20919&apos; -O z3.zip
  unzip z3.zip
  mv z3-*/bin/z3 .
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.3">
      <includes>JOB-prepare-binaries-master/workspace/debian-builds-*,JOB-prepare-binaries-master/workspace/static-cycles-goto-instrument</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>somewhereElse</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>